<div class="register-page">
    <div class="register-card">
        <div class="avatar-header">
            <div class="avatar-circle">
                <img src="images/logo-login.jpg" alt="Logo" class="logo-img">
            </div>
        </div>

        <div class="header-text">
            <h2>Create Account</h2>
        </div>

        <div class="login-tabs">
            <a routerLink="/login" routerLinkActive="active">Login</a>
        </div>
        <form [formGroup]="userForm" (ngSubmit)="onRegister()">
           <!--  <div class="input-group">
                <label>USERNAME</label>
                <input type="text" formControlName="username" placeholder="Nombre de usuario">
            </div> -->
            <div class="input-group">
                <label>EMAIL</label>
                <input type="email" formControlName="email" placeholder="Introduce tu email">

                <div *ngIf="userForm.get('email')?.invalid && (userForm.get('email')?.dirty || userForm.get('email')?.touched)"
                    class="error-message">
                    <span *ngIf="userForm.get('email')?.errors?.['required']">El correo es obligatorio.</span>
                    <span *ngIf="userForm.get('email')?.errors?.['email']">Introduce un formato de correo válido.</span>
                </div>
            </div>

            <div class="input-group">
                <label>PASSWORD</label>
                <input type="password" formControlName="password" placeholder="******">
            </div>

            <div class="input-group">
                <label>SYSTEM ROLE</label>
                <select formControlName="role" title="Seleccionar rol">
                    <option value="usuario">User</option>
                    <option value="administrador">Admin</option>
                </select>
            </div>

            <button type="submit" [disabled]="userForm.invalid" class="submit-btn">
                REGISTER
            </button>
        </form>


    </div>
</div>