<h2 class="bg-success p-3 text-light text-center">COUNTRIES</h2>

<div class="row m-1">
    <div class="col s4">
        <div class="card" style="width: 30rem;">
            <div class="card-body">
                <h5 class="card-title">Country Creation</h5>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text bg-success">New Country</span>
                        <input type="text" class="form-control" [(ngModel)]="newCountry.name" placeholder="Country name">
                    </div>
                <button (click)="saveCountry()" class="btn btn-outline-success">Create country</button>
            </div>
        </div>
    </div>

    <div class="col s8 mt-2">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                @for (c of countries; track c.name){
                <tr>
                    <td>{{c.id}}</td>
                    <td>{{c.name}}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>