<h2 class="bg-success p-3 text-light">Countries</h2>

<div class="card" style="width: 30rem;">
    <div class="card-body">
        <h5 class="card-title">Country Creation</h5>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text bg-success">New Country</span>
                <input type="text" class="form-control" [(ngModel)]="newCountry.name" placeholder="Country name">
            </div>
        <button (click)="saveCountry()" class="btn btn-outline-success">Create country</button>
    </div>
</div>

@for (c of countries; track c.name){
    <ul>
    <li>
    {{c.name}}
    </li>
    </ul>
}

