spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/proyecto_energia17
    username: postgres
    password: 3219616546

  security:
    user:
      name: admin
      password: 1234
      
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
            format_sql: true
            dialect: org.hibernate.dialect.PostgreSQLDialect

  server:
  port: 8080

  3.2. Cuando se creen entidades, se debe importar jakarta que es un ayudante para bases de datos:
        import jakarta.persistence.*;