<h2 class="bg-success p-3 text-light text-center">COMPANIES</h2>

<div class="row m-1">
    <div class="col s4">
        <div class="card" style="width: 35rem;">
            <div class="card-body">
                <h5 class="card-title">Company Creator</h5>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text bg-success">New Company</span>
                        <input type="text" class="form-control" [(ngModel)]="newCompany.name" placeholder="Company name">
                    </div>

                    <h5 class="card-title">Country Selector</h5>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text bg-success">Country Selector</span>
                        <select [(ngModel)]="newCompany.country" class="form-select form-select-sm">
                            <option [ngValue]="undefined" disabled selected>Select a country</option>
                      <!--       @for(c of countries; track $index){
                            <option [ngValue]="c">
                                {{c.name}}
                            </option>
                            } -->
                        </select>
                    </div>
                <button (click)="saveCompany()" class="btn btn-outline-success">Create company</button>
            </div>
        </div>
    </div>

    <div class="col s8 mt-2">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Country</th>
                </tr>
            </thead>

            <tbody>
            <!--     @for (c of companies; track $index){
                <tr>
                    <td>{{c.id}}</td>
                    <td>{{c.name}}</td>
                    <td>{{c.country?.name}}</td>
                </tr>
                } -->
            </tbody>
        </table>
    </div>
</div>

