<div class="register-page">
    <div class="register-card">

        <div class="avatar-header">
            <div class="avatar-circle">
                <img src="/images/logo-login.jpg" alt="Logo Registro" class="logo-img">
            </div>
        </div>

        <div class="login-tabs">
            <a routerLink="/login" routerLinkActive="active" class="tab">Login</a>
        </div>

        <div class="header-text">
            <h2>Nuevo Usuario</h2>
        </div>

        <form [formGroup]="userForm" (ngSubmit)="onRegister()">

            <div class="input-group">
                <label for="reg-username">NOMBRE DE USUARIO</label>
                <input type="text" id="reg-username" formControlName="username" title="Nombre de usuario"
                    placeholder="Ej: JuanP">
            </div>

            <div class="input-group">
                <label for="reg-email">EMAIL</label>
                <input type="email" id="reg-email" formControlName="email" title="Correo electrónico"
                    placeholder="juan@correo.com">
            </div>

            
            <div class="input-group">
                <label for="reg-password">CONTRASEÑA</label>
                <input type="password" id="reg-password" formControlName="password" title="Contraseña"
                    placeholder="Ingresa tu contraseña">
            </div>

            <div class="input-group">
                <label for="reg-role">ROL DEL SISTEMA</label>
                <select id="reg-role" formControlName="role" title="Seleccionar rol">
                    <option value="usuario">User</option>
                    <option value="admin">Admin</option>
                </select>
            </div>

            <button type="submit" class="submit-btn" [disabled]="userForm.invalid">
                REGISTRAR
            </button>

        </form>
    </div>
</div>